{% extends 'base.html.twig' %}

{% block title %}New Tiles{% endblock %}

{% block body %}
    <h1>Create new Tiles</h1>

    {{ include('tiles/_form.html.twig') }}

    <a href="{{ path('tiles_index') }}">back to list</a>
{% endblock %}
