{% extends 'base.html.twig' %}

{% block title %}New Armies{% endblock %}

{% block body %}
    <h1>Create new Armies</h1>

    {{ include('armies/_form.html.twig') }}

    <a href="{{ path('armies_index') }}">back to list</a>
{% endblock %}
