{% extends 'base.html.twig' %}

{% block title %}Edit Maps{% endblock %}

{% block body %}
    <h1>Edit Maps</h1>

    {{ include('maps/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('maps_index') }}">back to list</a>

    {{ include('maps/_delete_form.html.twig') }}
{% endblock %}
