{% extends 'base.html.twig' %}

{% block title %}New Maps{% endblock %}

{% block body %}
    <h1>Create new Maps</h1>

    {{ include('maps/_form.html.twig') }}

    <a href="{{ path('maps_index') }}">back to list</a>
{% endblock %}
